h2{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.hiro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 1rem;
} 

.hiro ul {
    width: 100%;
    list-style: none;
    background-color: white;
    padding: 0.5rem 1em 1rem;
    display: inline-block;
    transform: rotate(-10deg) translateY(-40px);
    box-shadow: -10px 10px 10px -10px rgba(0,0,0,0.2);
}
ul.rotateHiro{
    transform: rotate(7deg);

}

.hiro ul li{
    display: inline;
}

.meseBox{
    width: 100%;
    background-color: white;
    padding: 0.6rem 0.6rem 0rem;
    transform: rotate(10deg);
    margin-bottom: 1rem;
    box-shadow: -10px 10px 10px -10px rgba(0,0,0,0.2);
}

.meseBox.rotateHiro {
    transform: rotate(-7deg);
}

.meseBox img {
    width: 100%;
    object-fit: cover;
}

.meseBox p{
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px;
    text-align: center;
    padding: 1rem;
}

.categoryBox{
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 1rem;
    justify-items: center;
    padding: 1rem;
}

.menuBox{
    padding: 0px;
    list-style: none;
    margin: 0px;
}

.menuCategory{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    padding: 1em 1em;

    top: -1px;
    padding-top: calc(1em + 1px);
    background: linear-gradient(90deg ,var(--first-b) 20%, var(--first) 20%)
    
    var(--first-b);
    font-size: 1.2rem;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    border-left: 3px dashed var(--first-b);
    border-bottom: 3px solid var(--first-b);
    color: var(--bg);
    z-index: 2;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
}

.menuCategory > p{
    color: inherit;
    margin: 0px;
    text-transform: uppercase;
}
.menuCategory > button img
{
    display: block;
    width: 16px;
    height: 16px;
}

.menuCategory > a{
    background-color: var(--bg);
    text-decoration: none;
    border: 1px solid var(--text);
    font-size: 0.8rem;
    padding: 0.4rem 0.7rem;
    text-transform: uppercase;
    border-radius: 2px;
}

.menuCategory > button{
    background: none;
    border: 0px;
    margin-left: 16px;
}



.openSection .menuCategory > button > img{
    transform: rotate(90deg);
}



.list{
    overflow: hidden;
    height: 0;

}
.openSection .list{
    height: initial;
}


/* 
.hero{
    padding: 6em 2em;
    text-align: center;
    background-color: var(--light);
    font-size: 1rem;
}

.big-text{
    font-weight: bold;
    font-size: 3em;
    margin: 0.2em 0em;
}

.text{
    max-width: 600px;
    margin: 0.8em auto;
    margin-bottom: 1.2em;
    font-size: 1em;
}

.hero button{
    margin-top: 1.5em;
}

@media  screen and (max-width: 600px) {
    .hero{
        font-size: 0.8rem;
    }
}


.icon-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 0.5em;
    margin: 2rem auto;
    max-width: 900px;
}
.icon{
    text-align: center;
    font-weight: bold;
}
.icon img{
    display: block;
    max-width: 42px;
    max-height: 42px;
    margin: 0px auto;
}




.info-box{
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 400px));
    justify-content: center;
    padding: 4em 3em;
    gap: 1em;
}

.info-box p:first-child
{
    font-size: 2em;
    margin: 0px;
    font-weight: bold;
}

.info-box p
{
    font-size: 1em;
}

.event-box{
    justify-self: center;
    align-content: center;
}

.event-box a{
    font-weight: bold;
    text-align: center;
}

@media  screen and (max-width: 600px) {
    .info-box{
        font-size: 0.8rem;
        grid-template-columns: 1fr;
        padding: 0em 1em 2em;
    }

    .event-box{
        justify-self: right;
    }
} */